html[data-theme*='dark'] {
    --ant-primary-color:#177ddc;
    --ant-primary-color-hover:#165996;
    --ant-primary-color-active:#388ed3;
    --ant-primary-color-outline:rgb(23 125 220 / 20%);
    --ant-primary-1:#e6f7ff;
    --ant-primary-2:#bde8ff;
    --ant-primary-3:#94d6ff;
    --ant-primary-4:#67baf5;
    --ant-primary-5:#3c9be8;
    --ant-primary-6:#177ddc;
    --ant-primary-7:#095cb5;
    --ant-primary-color-deprecated-l-35:#afd4f6;
    --ant-primary-color-deprecated-l-20:#6aafef;
    --ant-primary-color-deprecated-t-20:#4697e3;
    --ant-primary-color-deprecated-t-50:#8bbeed;
    --ant-primary-color-deprecated-f-12:rgb(23 125 220 / 12%);
    --ant-primary-color-active-deprecated-f-30:rgb(230 247 255 / 30%);
    --ant-primary-color-active-deprecated-d-02:#dcf4ff;
    --ant-success-color:#49aa19;
    --ant-success-color-hover:#67b839;
    --ant-success-color-active:#31850d;
    --ant-success-color-outline:rgb(73 170 25 / 20%);
    --ant-success-color-deprecated-bg:#e4ebdd;
    --ant-success-color-deprecated-border:#a5d184;
    --ant-error-color:#a61d24;
    --ant-error-color-hover:#b33b3d;
    --ant-error-color-active:#800f19;
    --ant-error-color-outline:rgb(166 29 36 / 20%);
    --ant-error-color-deprecated-bg:#e6d9d8;
    --ant-error-color-deprecated-border:#cc8885;
    --ant-warning-color:#d89614;
    --ant-warning-color-hover:#e6b239;
    --ant-warning-color-active:#b37407;
    --ant-warning-color-outline:rgb(216 150 20 / 20%);
    --ant-warning-color-deprecated-bg:#fffbe6;
    --ant-warning-color-deprecated-border:#ffe591;
    --ant-info-color:#177ddc;
    --ant-info-color-deprecated-bg:#e6f7ff;
    --ant-info-color-deprecated-border:#94d6ff;
    --ant-spin-blur-bg:#141414;
    --wave-shadow-color:var(--ant-primary-color);
    --primary-background:#21252b;
    --secondary-background:#282c34;
    --border-primary-base:#181a1f;
    --border-secondary-base:#303030;
    --active-primary-color:var(--ant-primary-7);
    --text-color:rgb(255 255 255 / 85%);
    --mark:#2b2611;
    --selection-color:var(--white);
    --selection-bg:var(--ant-primary-color);
    --pink:#cb2b83;
    --magenta:#cb2b83;
    --red:#d32029;
    --volcano:#d84a1b;
    --orange:#d87a16;
    --yellow:#d8bd14;
    --gold:#d89614;
    --cyan:#13a8a8;
    --lime:#8bbb11;
    --green:#49aa19;
    --blue:#177ddc;
    --geekblue:#2b4acb;
    --purple:#642ab5;
    --panels-background:var(--primary-background);
    --panels-border-shadow-background:var(--panels-background);
    --table-row-hover-td-border:#3a3a3a;
    --table-row-hover-td-border-hover:#303030;
    --table-expanded-row-background:#272727;
    --table-filter-trigger-container-open-background:#525252;
}
