:root {
    --font-family:-apple-system, BlinkMacSystemFont, 'Microsoft YaHei', tahoma, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-family-Bebas:-apple-system, BlinkMacSystemFont, 'Bebas Neue', 'Microsoft YaHei', tahoma, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --scroll-bar:0;
    --white:#fff;
    --black:#000;
    --transparent:transparent;
    --ease-out:cubic-bezier(.215, .61, .355, 1);
    --ease-in:cubic-bezier(.55, .055, .675, .19);
    --ease-base-out:cubic-bezier(.7, .3, .1, 1);
    --ease-base-in:cubic-bezier(.9, 0, .3, .7);
    --ease-in-out:cubic-bezier(.645, .045, .355, 1);
    --ease-out-back:cubic-bezier(.12, .4, .29, 1.46);
    --ease-in-back:cubic-bezier(.71, -.46, .88, .6);
    --ease-in-out-back:cubic-bezier(.71, -.46, .29, 1.46);
    --ease-out-circ:cubic-bezier(.08, .82, .17, 1);
    --ease-in-circ:cubic-bezier(.6, .04, .98, .34);
    --ease-in-out-circ:cubic-bezier(.78, .14, .15, .86);
    --ease-out-quint:cubic-bezier(.23, 1, .32, 1);
    --ease-in-quint:cubic-bezier(.755, .05, .855, .06);
    --ease-in-out-quint:cubic-bezier(.86, 0, .07, 1);
    --webkit-tap-highlight-color:rgb(0 0 0 / 0%);
    --ant-wave-shadow-color:var(--ant-primary-color);
}
